# This is Git's per-user configuration file.
[user]
	name = Mateen Ulhaq
	email = mulhaq2005@gmail.com

[credential]
	helper = cache --timeout=86400

# [url "https://yodaembedding@github.com"]
# 	insteadOf = https://github.com

[url "git@github.com:"]
    insteadOf = https://github.com

[core]
	filemode = false
