source "$HOME/.alias/core_utils.sh"
source "$HOME/.alias/important_utils.sh"
source "$HOME/.alias/other_utils.sh"
source "$HOME/.alias/pacman.sh"
source "$HOME/.alias/files.sh"
source "$HOME/.alias/misc.sh"
source "$HOME/.alias/fr.sh"
source "$HOME/.alias/jp.sh"
source "$HOME/.alias/by_host.sh"
