[Unit]
Description=Updates directory index

[Service]
Type=oneshot
ExecStart=/home/mulhaq/code/frece/examples/dir_update.sh "$HOME" "/mnt/data" \
    -not ( -path /mnt/data/code/archived -prune ) \
    -not ( -path /mnt/data/code/downloaded -prune ) \
    -not ( -path /mnt/data/Documents -prune ) \
    -not ( -path /mnt/data/Games -prune ) \
    -not ( -path /mnt/data/ProgData/MATLAB -prune ) \
    -not ( -path /mnt/data/tmp -prune )
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
IOSchedulingPriority=7
Nice=19
