[Unit]
Description=Updates directory index
After=default.target

[Timer]
OnBootSec=1min
OnUnitActiveSec=1h
AccuracySec=20min

[Install]
WantedBy=default.target
