[Unit]
Description=Updates directory index

[Service]
Type=oneshot
ExecStart=/home/mulhaq/.config/frece/scripts/dir_update_fd.sh
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
IOSchedulingPriority=7
Nice=19
