[Unit]
Description=Updates file index

[Service]
Type=oneshot
ExecStart=/home/mulhaq/.config/frece/scripts/update/file_fd.sh
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
IOSchedulingPriority=7
Nice=19
