[Unit]
Description=Updates directory index
After=timers.target

[Timer]
OnBootSec=1min
OnUnitActiveSec=15min
AccuracySec=5min

[Install]
WantedBy=timers.target
