[Unit]
Description=Updates file index

[Service]
Type=oneshot
ExecStart=/home/mulhaq/code/frece/examples/file_update.sh "$HOME" "/mnt/data"
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
IOSchedulingPriority=7
Nice=19
