[Unit]
Description=Updates torr index

[Service]
Type=oneshot
ExecStart=/home/mulhaq/.config/frece/scripts/torr_update_fd.sh
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
IOSchedulingPriority=7
Nice=19
