[Unit]
Description=yams
After=mopidy.service
Requires=mopidy.service

[Service]
Type=simple
ExecStartPre=/bin/rm -f ~/.config/yams/yams.pid
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/yams -N

[Install]
WantedBy=default.target
