[include]
    path = ~/dotfiles/git/.config/git/common.gitconfig

[user]
    name = Mateen Ulhaq
    email = mulhaq2005@gmail.com
    signingKey = F4DF49423A12E5A7B65904E4D4B948EAE511FC1B

[commit]
    gpgsign = true

[credential]
    helper = cache --timeout=604800

[url "git@github.com:"]
    insteadOf = https://github.com

[credential "https://git.overleaf.com"]
    username = mulhaq2005@gmail.com
