### CORE UTILITIES ###

# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../../'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'

# chmod
alias chx='chmod +x' # (RARELY USED)

# ls
alias l='ll'
alias ll='ls -l -gG --time-style="+%Y-%m-%d %H:%M:%S"'
alias ls='ls --color=auto -h --group-directories-first'
alias lsd='ls -d */'
alias lsg='ll -al | g'
alias lsl='ll -al'
alias lsp='ll -al | p'
alias lss='ll -al --color=always | grep "\->"'

# sudo
alias sudo='sudo '   # make sudo work with aliases
alias s='sudo'
alias se='sudo -e'

### UTILITY REPLACEMENTS ###

#alias cat='ccat'

### IMPORTANT UTILITIES ###

# git
alias ga='git add'
alias gc='git commit'
alias gca='git commit -a'
alias gcam='git commit -am'
alias gcm='git commit -m'
alias gd='git diff'
alias gl='git log --graph --full-history --all --color --oneline'
alias gla='git log --graph --decorate $(git rev-list -g --all)'
alias gst='git status'

# grep
alias g='grep --color=never -i'

# less
alias less='less -r'

# python
alias py="python3"

# tmux
alias t="tmux"

# vim
alias v='nvim'
alias vim='nvim'
alias vimprivate='vim -c "setlocal history=0 nobackup nomodeline noshelltemp noswapfile noundofile nowritebackup secure viminfo=\"\""'

### PACKAGE MANAGEMENT ###

# Pacman
alias sp='sudo pacman'
alias sps='sudo pacman -S'
alias orphans='pacman -Qtdq'

# AUR package managers: pacaur
alias pac='pacaur'
alias pacs='pacaur --noedit --noconfirm -S'
alias pacu='pacaur --noedit --noconfirm -Syu'

# AUR package managers: trizen
alias tz='trizen'
alias tzq='trizen -Qs'
alias tzs='trizen --noedit -S'
# alias tzu='trizen --noedit --install_built_with_noconfirm -Syu'
alias tzu='trizen --noedit -Syu'

# AUR package managers: yay
alias yayq='yay -Qs'
alias yays='yay --noconfirm -S'
alias yayu='yay --noconfirm -Syu'

### OTHER UTILITIES ###

# googler
alias goo="googler -n 5"

# gpg
alias gpgaddkey="gpg --recv-keys"
alias gpgforgetpassphrases='echo RELOADAGENT | gpg-connect-agent'

# parallel
alias parallel='parallel --will-cite'

# percol
alias p='percol'

# ranger (open navigated folder in terminal on exit)
alias r='ranger'
alias ranger='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'

# selfspy
alias sspy='rm -f -- ~/.selfspy/selfspy.pid.lock && selfspy'

# thunar
alias th='bgrnd thunar'

### FILE PATHS ###

# File common
alias todo='vim ~/Dropbox/Misc/Notepad/todo.md'

# File config
alias aliases='vim ~/.aliases'
alias bashrc='vim ~/.bashrc'
alias vimrc='vim ~/.vimrc'
alias zshrc='vim ~/.zshrc'
alias i3config='vim ~/.config/i3/config'
alias i3bconfig='vim ~/.config/i3blocks/config'
alias pythonstartup='sudo -e /usr/local/share/pythonstartup.py'

### MISCELLANEOUS ###

# Buildozer
alias builddebug='buildozer android debug deploy run'
alias buildlogcat='buildozer android adb -- logcat -s python'

# Copy paste
# TODO rename these to something more accessible?
alias pbcopy='xclip -selection c'
alias pbpaste='xclip -selection clipboard -o'

# File opening
alias b='bgrnd'
alias o='bgrnd gvfs-open'

# File templates
alias newpy='echo "#!/usr/bin/env python3\n\nimport numpy as np" > '

# emoji
alias lenny='emoji -lc'
alias shruggie='emoji -sc'

# List available commands
#alias commands='compgen -c'
alias commands='print -rl -- ${(k)aliases} ${(k)functions} ${(k)parameters} ${(k)builtins} ${(k)commands} | percol'

# Music
alias qdbus_gpmdp="qdbus org.mpris.MediaPlayer2.google-play-music-desktop-player /org/mpris/MediaPlayer2"
alias  album="qdbus_gpmdp org.mpris.MediaPlayer2.Player.Metadata | grep -P '^xesam:album: '  | sed 's/^xesam:album: //'"
alias artist="qdbus_gpmdp org.mpris.MediaPlayer2.Player.Metadata | grep -P '^xesam:artist: ' | sed 's/^xesam:artist: //'"
alias  title="qdbus_gpmdp org.mpris.MediaPlayer2.Player.Metadata | grep -P '^xesam:title: '  | sed 's/^xesam:title: //'"

# Statistics
alias class='xprop WM_CLASS'
alias count='ls -1 | wc -l'
alias diskusage='du -sh'
alias perm='stat -c "%a %n"'

# Update ~/.locate.db
alias updatelocate='updatedb --require-visibility 0 -o ~/.locate.db'

# Update blocklists
alias updateblocklist='wget http://john.bitsurge.net/public/biglist.p2p.gz -NP ~/.config/qBittorrent && gunzip -kf ~/.config/qBittorrent/biglist.p2p.gz'
