# Utility replacements
alias cat='ccat'

# List available commands
#alias commands='compgen -c'
alias commands='print -rl -- ${(k)aliases} ${(k)functions} ${(k)parameters} ${(k)builtins} ${(k)commands} | percol'

# Grep
alias g='grep --color=never -i'

# Listing
alias ll='ls -l -gG --time-style="+%Y-%m-%d %H:%M:%S"'
alias ls='ls --color=auto -h --group-directories-first'
alias lsd='ls -d */'
alias lsg='ll -al | g'
alias lsl='ll -al'
alias lsp='ll -al | p'
alias lss='ll -al --color=always | grep "\->"'

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../../'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'

# Ranger (open navigated folder in terminal on exit)
alias ranger='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'

# percol
alias p='percol'

# vim
alias v='nvim'
alias vim='nvim'

# git
alias ga='git add'
alias gc='git commit'
alias gca='git commit -a'
alias gcam='git commit -am'
alias gcm='git commit -m'
alias gd='git diff'
alias gl='git log --graph --full-history --all --color --oneline'
alias gla='git log --graph --decorate $(git rev-list -g --all)'
alias gst='git status'

# Copy paste
alias pbcopy='xclip -selection c'
alias pbpaste='xclip -selection clipboard -o'

# Statistics
alias class='xprop | grep WM_CLASS'
alias count='ls -1 | wc -l'
alias diskusage='du -sh'
alias perm='stat -c "%a %n"'

# emoji
alias lenny='emoji -lc'
alias shruggie='emoji -sc'

# Selfspy
alias sspy='rm -f -- ~/.selfspy/selfspy.pid.lock && selfspy'

# Sudo
alias sudo='sudo '   # make sudo work with aliases
alias s='sudo'
alias se='sudo -e'

# chmod
alias chx='chmod +x'

# Pacman
alias sp='sudo pacman'
alias sps='sudo pacman -S'
alias orphans='pacman -Qtdq'

# AUR Package managers: yaourt
alias yao='yaourt'

# AUR Package managers: pacaur
alias pac='pacaur --noedit --noconfirm'
alias pacs='pac -S'
alias pacu='pacaur -Syyu'
alias pacua='pacaur -Syyua'

# Update ~/.locate.db
alias updatelocate='updatedb --require-visibility 0 -o ~/.locate.db'

# GPG
alias gpgaddkey="gpg --recv-keys"
alias gpgforgetpassphrases='echo RELOADAGENT | gpg-connect-agent'

# File opening
alias b='bgrnd'
alias o='bgrnd gvfs-open'

# Thunar
alias th='bgrnd thunar'

# Config
alias aliases='vim ~/.aliases'
alias bashrc='vim ~/.bashrc'
alias vimrc='vim ~/.vimrc'
alias zshrc='vim ~/.zshrc'
alias i3config='vim ~/.config/i3/config'
alias i3bconfig='vim ~/.config/i3blocks/config'
alias pythonstartup='sudo -e /usr/local/share/pythonstartup.py'

# Todo
alias todo='vim ~/Dropbox/Misc/Notepad/todo.md'

# GNU Parallel - Remove annoying citation message...
alias parallel='parallel --will-cite'

# Buildozer
alias builddebug='buildozer android debug deploy run'
alias buildlogcat='buildozer android adb -- logcat -s python'

# Music
alias qdbus_gpmdp="qdbus org.mpris.MediaPlayer2.google-play-music-desktop-player /org/mpris/MediaPlayer2"
alias  album="qdbus_gpmdp org.mpris.MediaPlayer2.Player.Metadata | grep -P '^xesam:album: '  | sed 's/^xesam:album: //'"
alias artist="qdbus_gpmdp org.mpris.MediaPlayer2.Player.Metadata | grep -P '^xesam:artist: ' | sed 's/^xesam:artist: //'"
alias  title="qdbus_gpmdp org.mpris.MediaPlayer2.Player.Metadata | grep -P '^xesam:title: '  | sed 's/^xesam:title: //'"

