### CORE UTILITIES ###

# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../../'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias .......='cd ../../../../../..'
alias ........='cd ../../../../../../..'

# chmod
alias chx='chmod +x' # (RARELY USED)

# cp
alias cp='cp -i'

# ls
alias l='ll'
alias ll='ls -l -gG --time-style="+%Y-%m-%d %H:%M:%S"'
alias ls='ls --color=auto -h --group-directories-first'
alias lsd='ls -d */'
alias lsg='ll -al | g'
alias lsl='ll -al'
alias lsp='ll -al | p'
alias lss='ll -al --color=always | grep "\->"'

# mv
alias mv='mv -i'

# sudo
alias sudo='sudo '   # make sudo work with aliases
alias s='sudo'
alias se='sudo -e'

### UTILITY REPLACEMENTS ###

#alias cat='ccat'

### IMPORTANT UTILITIES ###

# git
alias ga='git add'
alias gc='git commit'
alias gca='git commit -a'
alias gcam='git commit -am'
alias gcm='git commit -m'
alias gco='git checkout'
alias gd='git diff'
alias gl='git log --graph --full-history --all --color --oneline'
alias gla='git log --graph --decorate $(git rev-list -g --all)'
alias gst='git status'

# grep
alias g='grep --color=never -i'

# less
alias less='less -r'

# python
alias py="python3"

# tmux
alias t="tmux"

# vim
# alias v='nvim'
alias vim='nvim'
alias vimprivate='vim -c "setlocal history=0 nobackup nomodeline noshelltemp noswapfile noundofile nowritebackup secure viminfo=\"\""'

### PACKAGE MANAGEMENT ###

# Pacman
alias sp='sudo pacman'
alias sps='sudo pacman -S'
alias orphans='pacman -Qtdq'

# AUR package managers: pacaur
alias pac='pacaur'
alias pacs='pacaur --noedit --noconfirm -S'
alias pacu='pacaur --noedit --noconfirm -Syu'

# AUR package managers: pikaur
alias pk='pikaur'
alias pkq='pikaur -Qs'
alias pks='pikaur -S --noconfirm'
alias pku='pikaur -Syu'

# AUR package managers: trizen
alias tz='trizen'
alias tzq='trizen -Qs'
alias tzs='trizen --noedit -S'
alias tzu='trizen --noedit -Syu'

# AUR package managers: yay
alias yayq='yay -Qs'
alias yays='yay --noconfirm -S'
alias yayu='yay --noconfirm -Syu'

### OTHER UTILITIES ###

# googler
alias goo="googler -n 5"

# gpg
alias gpgaddkey="gpg --recv-keys"
alias gpgforgetpassphrases='echo RELOADAGENT | gpg-connect-agent'

# parallel
alias parallel='parallel --will-cite'

# percol
alias p='percol'

# ranger (open navigated folder in terminal on exit)
alias r='ranger'
alias ranger='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'

# selfspy
alias sspy='rm -f -- ~/.selfspy/selfspy.pid.lock && selfspy'

# thunar
alias th='bgrnd thunar'

# wtwitch
alias tw='wtwitch'
alias twc='wtwitch -c'
alias tws='wtwitch -s'

### FILE PATHS ###

# File common
alias todo='vim ~/Dropbox/Misc/Notepad/todo.md'

# File config
alias aliases='vim ~/.aliases'
alias bashrc='vim ~/.bashrc'
alias vimrc='vim ~/.vimrc'
alias zshrc='vim ~/.zshrc'
alias i3config='vim ~/.config/i3/config'
alias i3bconfig='vim ~/.config/i3blocks/config'
alias pythonstartup='sudo -e /usr/local/share/pythonstartup.py'

### MISCELLANEOUS ###

# Buildozer
alias builddebug='buildozer android debug deploy run'
alias buildlogcat='buildozer android adb -- logcat -s python'

# Copy paste
# TODO rename these to something more accessible?
alias pbcopy='xclip -selection c'
alias pbpaste='xclip -selection clipboard -o'

# emoji
alias lenny='emoji -lc'
alias shruggie='emoji -sc'

# File opening (in background)
bgrnd() {
  nohup "$@" </dev/null >/dev/null 2>&1 &
  disown
}

alias b='bgrnd'
alias o='bgrnd xdg-open'

# File templates
alias newpy='echo "#!/usr/bin/env python3\n\nimport numpy as np" > '

# git commit selector
gitc() {
  local out=$(git log --oneline --color | fzf --ansi --multi --reverse)
  local sha=$(awk '{ print $1 }' <<< "$out")
  echo "$sha"
}

# git diff browser
gitd() {
  local out=$(git log --oneline --color | fzf --ansi --multi --reverse)
  local sha=$(awk '{ print $1 }' <<< "$out")
  [ -n "$sha" ] && git diff "$sha~" "$sha"
}

# git history browser
gith() {
  local out sha q
  while out=$(
      git log --graph --color=always \
          --format="%C(auto)%h%d %s %C(black)%C(bold)%cr" |
      fzf --ansi --multi --reverse --query="$q" --print-query); do
    q=$(head -1 <<< "$out")
    while read sha; do
      [ -n "$sha" ] && git show --color=always $sha | less -R
    done < <(sed '1d;s/^[^a-z0-9]*//;/^$/d' <<< "$out" | awk '{print $1}')
  done
}

# List available commands
#alias commands='compgen -c'
alias commands='print -rl -- ${(k)aliases} ${(k)functions} ${(k)parameters} ${(k)builtins} ${(k)commands} | percol'

# Monitor control
mbc() {
  sudo bash -c 'ddccontrol -p -r 0x10 -w $0 >/dev/null 2>&1 && ddccontrol -p -r 0x12 -w $1 >/dev/null 2>&1 &' "$1" "$2"
}

brightness() {
  sudo bash -c 'ddccontrol -p -r 0x10 -w $0 >/dev/null 2>&1 &' "$1"
}

contrast() {
  sudo bash -c 'ddccontrol -p -r 0x12 -w $0 >/dev/null 2>&1 &' "$1"
}

# Music
alias qdbus_gpmdp="qdbus org.mpris.MediaPlayer2.google-play-music-desktop-player /org/mpris/MediaPlayer2"
alias  album="qdbus_gpmdp org.mpris.MediaPlayer2.Player.Metadata | grep -P '^xesam:album: '  | sed 's/^xesam:album: //'"
alias artist="qdbus_gpmdp org.mpris.MediaPlayer2.Player.Metadata | grep -P '^xesam:artist: ' | sed 's/^xesam:artist: //'"
alias  title="qdbus_gpmdp org.mpris.MediaPlayer2.Player.Metadata | grep -P '^xesam:title: '  | sed 's/^xesam:title: //'"

# Statistics
alias class='xprop WM_CLASS'
alias count='ls -1 | wc -l'
alias diskusage='du -sh'
alias perm='stat -c "%a %n"'

# Update ~/.locate.db
alias updatelocate='systemctl --user --no-block start update-locate.service'

# Update blocklists
alias updateblocklist='wget http://john.bitsurge.net/public/biglist.p2p.gz -NP ~/.config/qBittorrent && gunzip -kf ~/.config/qBittorrent/biglist.p2p.gz'

# Update frece databases
alias updatefrece='systemctl --user --no-block start update-frece-dir.service; systemctl --user --no-block start update-frece-file.service'

