# This is Git's per-user configuration file.
[user]
    name = Mateen Ulhaq
    email = mulhaq2005@gmail.com
#     signingKey = F4DF49423A12E5A7B65904E4D4B948EAE511FC1B
#
# [commit]
#     gpgsign = true

[credential]
    helper = cache --timeout=86400

[url "https://yodaembedding@github.com"]
    insteadOf = https://github.com

# [url "git@github.com:"]
#     insteadOf = https://github.com

[credential "https://git.overleaf.com"]
    username = mulhaq2005@gmail.com

[core]
    filemode = false
    pager = "delta"

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only
    singleKey = true

[rebase]
    updateRefs = true

[delta]
    dark
    # navigate = true  # wait: https://github.com/dandavison/delta/issues/237
    file-style                      = blue bold
    minus-style                     = syntax "#663B63"
    minus-emph-style                = syntax "#522B4F"
    minus-empty-line-marker-style   = normal "#663B63"
    plus-style                      = syntax "#313E52"
    plus-emph-style                 = syntax "#40516B"
    plus-empty-line-marker-style    = normal "#313E52"
    # plus-style                    = syntax "#3B3152"  # a more purply color
